body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #191919;
}

.board {
   border: 2px solid #fff;
   height: 560px;
   width: 560px;
   margin: 5% auto;
}

.box {
   float: left;
   height: 70px;
   width: 70px;
}

.black {
   background-color: #000;
}

.white {
   background-color: #fff;
}
